body {
    margin: 0;
    background: white;
    text-align: center;
    list-style-type property: none;
    font-family: "Dosis";
}
    
h1 {
color: black;
font-size: 30px;
font-weight: 700;
line-height: 2;
}

h2 {
color: black;
font-size: 25px;
font-weight: 700;
line-height: 1.8;
}

h3 {
color: black;
font-size: 23px;
font-weight: 700;
line-height: 2.3;
}

p {
color: black;
font-size: 20px;
font-weight: 500;
line-height: 1.8;
}
